*{
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: bisque;
  display: flex;
}

.container{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 51rem;
  height: 41.5rem;
  position: absolute;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}

.header{
  background-color: rgba(196, 196, 196, 1);
  height: 4.25rem;
  width: auto;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid black;
}

.header h1{
  margin-left: 1.25rem;
}

.message-panel{
  display: flex;
  height: 25rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.message-flow textarea{
  margin-bottom: -0.35rem;
  padding: 0.5rem 1.25rem 0.5rem 1.25rem;
  resize: none;
  
}

.message-flow{
  margin-right: 0rem;
  height: fit-content;
  
}

.message-flow .buttons{
  display: flex;
  justify-content: end;
  margin-top: 0.07rem;
  margin-bottom: 0.7rem;
  border-top: none;
  
}

.message-flow .buttons .edit{
  background-color: rgba(246, 167, 93, 1);
  border-width: 0.1rem;
}

.message-flow .buttons .delete{
  background-color: rgba(246, 93, 93, 1);
  border-width: 0.1rem;
}

.command-line{
  background-color: rgba(196, 196, 196, 1);
  padding: 0.5rem 0.75rem 0.5rem 0.5rem;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
  
  align-self: center;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
 
}

.command-line textarea{
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  resize: none;
}

.command-line .send{
  display: inline-flexbox;
  background-color: rgba(0, 102, 204, 1);
  width: 4.93rem;
  height: 2.25rem;
  border-radius: 10px; 
  border: none;
  color: white;

}

